#game-screen-info-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem;

  #start-game-btn {
// TODO: make bigger
  }

  #draw-card-btn {
    margin-right: 1rem;
  }

  #your-turn-text {
    color: red;
    margin: 0;
  }
}