@import './mixins/on-circle.scss';

#game-screen {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 94%;
  width: 100%;
  min-width: 1200px;

  #play-area {
    width: 70%;

    @import './players-circle.scss';
  }

  #info-area {
    background-color: #ecf0f1;
    border-radius: 4px;
    width: 30%;

    @import './game-screen-info-bar.scss';
  }

  #kings-cup {
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 20%;
    height: 400px;
  }
}
