#game-screen-info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: .5rem;

  #current-turn {
    font-size: 1.5rem;
    font-weight: bold;
  }
}