#info-bar {
	border-bottom: 2px solid grey;
	padding: 1rem 0.5rem;
	display: flex;
	justify-content: space-between;

	h3 {
		margin: 0;
	}

	.success-icon {
		color: green;
	}

	.danger-icon {
		color: red;
	}
}
