#info-bar {
	border-bottom: 2px solid grey;
	padding: 0.5rem;
	display: flex;
  justify-content: space-between;
  align-items: center;
  
  h2, h3 {
    margin: 0;
  }
  
  #left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    #player-info {
      font-size: 1.2rem;
      margin-right: .75rem;
    }

    .success-icon {
      color: green;
    }
  
    .danger-icon {
      color: red;
    }
  }
}
